body {
    background: linear-gradient(120deg, #3498db, #8e44ad);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.login-btn {
    background-color: green;
    border-radius: 8px;
    width: 180px;
    height: 40px;
}

.form1 {
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 60vw;
    max-width: 1400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup-link {
    text-align: center;
}

.login-title {
    color: #333;
    font-weight: bold;
}
